Q1. What is a database? Differentiate between SQL and NoSQL databases.

 ANS-A database is a structured collection of data, typically stored electronically in a computer system. A database management system (DBMS) is a software application that interacts with the user, other applications, and the database itself to capture and analyze data. A DBMS makes it possible for users to create, read, update, and delete data in a database.
                                                         SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ANS- DDL stands for Data Definition Language. It is a computer language used to build and modify the structure of database objects. 

CREATE, DROP, ALTER, and TRUNCATE are all SQL commands that are used to manage tables in a database.

In [5]:
#CREATE  is used to create a new Table

CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(100),
  email VARCHAR(100)
);

In [ ]:
#DROP is used to delete an existing table.


DROP TABLE customers;

In [ ]:
#ALTER is used to modify the structure of an existing table.

AFTER TABLE customers ADD COLUMN age INT;

In [ ]:
#TRUNCATE is used to delete all of the data from an existing table

TRUNCATE TABLE customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS-DML stands for Data Manipulation Language. It's a computer programming language that allows users to add, delete, and update data in a database.

In [7]:
#INSERT- used to add new records or rows into aq table.

INSERT INTO Employees(EmployeeID , FirstName , lastName , Salary)
VALUES(101, 'komal', 'singh' , 50000);

In [ ]:
#UPDATE- Modifies existing records in a table.

UPDATE Employees
SET salary = 55000
WHERE EmployeeID = 101

In [ ]:
#DELETE-Remove record from abtable based on a specified condition

DELETE FROM Employees
WHERE EmployeesID = 101

Q4. What is DQL? Explain SELECT with an example.

ANS-DQL stands for Data Query Language. It is a sublanguage of SQL used to query and retrieve data from existing database tables.

In [ ]:
#The SELECT statement is used for querying data


SELECT first_name , last_name
FROM employees 
WHERE department = 'IT';

Q5. Explain Primary Key and Foreign Key.

ANS-Primary keys are used to uniquely identify and index each row within a single table. Foreign keys are used to link rows in two different tables such that a row can only be added or updated in table_a if the value in its foreign key column exists in the relevant column of table_b

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

#Create a connection object.
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'yourusername',
    password = 'yourpassword',
    database = 'yourdatabase'
)

#Create a cursor object
mycursor = mydb.cursor()

#Create a SQL query
mycursor.execute("SELECT *FROM customers")


#Get the results of the query 
myresult = mycursor.fetchall()
 
#print the result
for x in myresult:
    print(x)
    
    
#Close the connection
mydb.close()

The cursor() method creates a cursor object that can be used to execute SQL queries. The execute() method executes a SQL query and returns the results.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:
FROM: clause: This clause specifies the tables from which the data will be retrieved.
WHERE: clause: This clause filters the data based on specific criteria.
GROUP BY: clause: This clause groups the data based on one or more columns.
HAVING: clause: This clause filters the grouped data based on specific criteria.
SELECT: clause: This clause specifies the columns that will be returned in the query results.
DISTINCT: clause: This clause removes duplicate rows from the query results.
ORDER BY: clause: This clause sorts the data in ascending or descending order.
LIMIT: clause: This clause limits the number of rows that will be returned in the query results.