Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a non-relational, open-source, document-oriented database. It's also a NoSQL (Not only SQL) database, which means data is stored and retrieved in a way that's not based on tables. 

Non-relational databases, also called No-SQL databases, are different from SQL databases and work differently. They often perform faster because a query doesn't have to view several tables to deliver an answer. 



SQL databases are used to store structured data while NoSQL databases like MongoDB are used to save unstructured data. MongoDB is used to save unstructured data in JSON format. MongoDB does not support advanced analytics and joins like SQL databases support.

Q2. State and Explain the features of MongoDB.

MongoDB is an open-source NoSQL database that provides high performance, high availability, and automatic scaling. It is a document-oriented database, which means that data is stored as JSON-like documents. This makes it easy to store and query complex data structures.



features of MongoDB:
1.Schema-less:
MongoDB does not require a predefined schema, which makes it very flexible and easy to use.
2.Document-oriented:
MongoDB stores data as JSON-like documents, which makes it easy to store and query complex data structures.
3.Horizontal scaling:
MongoDB can be scaled horizontally by adding more servers to the cluster. This makes it easy to handle large amounts of data.
4.High availability:
MongoDB is designed to be highly available, with features such as replication and automatic failover.
5.Rich query language:
MongoDB provides a rich query language that allows you to query data in a variety of ways.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://komalshandilya222:komalpwskills22@cluster0.tifpo26.mongodb.net/?retryWrites=true&w=majority"

client = MongoClient(uri)

try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 14.8 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.5.0-py3-none-any.whl (305 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 305.4/305.4 kB 40.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.5.0 pymongo-4.6.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
client = MongoClient(uri)

# Access the desired database
db = client['your_database_name']  # Replace 'your_database_name' with the actual database name

# Access the desired collection within the database
collection = db['your_collection_name']  # Replace 'your_collection_name' with the actual collection name

# Define the data you want to insert
data = {
    "name": "komal singh",
    "class": "Data Science Master",
    "Time": "flexi"
}

# Insert the data into the collection
try:
    result = collection.insert_one(data)
    print("Data inserted successfully! Inserted ID:", result.inserted_id)
except Exception as e:
    print("An error occurred:", e)

Data inserted successfully! Inserted ID: 65c4c8511928c84abbbb253a

In [5]:
data = {
    "Mail_Id": "komalsingh@gmail.com",
    "Phone_Number": 685896986,
    "Addr": "HImachal Pradesh"
}

In [6]:
try:
    result = collection.insert_one(data)
    print("Data inserted successfully! Inserted ID:", result.inserted_id)
except Exception as e:
    print("An error occurred:", e)

Data inserted successfully! Inserted ID: 65c4c8791928c84abbbb253b

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [11]:
data3 = {
    "Mail_Id": "komalsingh@gmail.com",
    "Phone_Number": 685896986,
    "Addr": "HImachal Pradesh"
}

In [12]:
try:
    result = collection.insert_one(data3)
    print("Data inserted successfully! Inserted ID:", result.inserted_id)
except Exception as e:
    print("An error occurred:", e)

Data inserted successfully! Inserted ID: 65c4cab21928c84abbbb2545

In [8]:
data2 = [
    {"Name":"apple", "Address": "Himachal Pradesh"},
    {"Name":"orange", "Address": "Kashmir"},
    {"Name":"Banana", "Address": "Hajipur"},
    {"Name":"Grapes", "Address":  "Patna"},
    {"Name":"Carrot", "Address":  "Bihar"},
    {"Name":"Mango", "Address":  "Bihar"},
    {"Name":"Guava", "Address":  "Up"},
    {"Name":"Pineapple", "Address": "Kashmir"},
    {"Name":"Watermelon", "Address": "Himachal Pradesh"}
]

In [9]:
try:
    result = collection.insert_many(data2)
    print("Data inserted successfully! Inserted ID:", result.inserted_id)
except Exception as e:
    print("An error occurred:", e)

An error occurred: 'InsertManyResult' object has no attribute 'inserted_id'

In [13]:
for i in collection.find():
    print(i)

{'_id': ObjectId('65c27e1f646f3cbc44844726'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('65c36764486a8729cd64a436'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c36972486a8729cd64a437'), 'Mail_Id': 'komalsingh@gmail.com', 'Phone_Number': 685896986, 'Addr': 'HImachal Pradesh'}
{'_id': ObjectId('65c36d32486a8729cd64a438'), 'Name': 'apple', 'Address': 'Himachal Pradesh'}
{'_id': ObjectId('65c36d32486a8729cd64a439'), 'Name': 'orange', 'Address': 'Kashmir'}
{'_id': ObjectId('65c36d32486a8729cd64a43a'), 'Name': 'Banana', 'Address': 'Hajipur'}
{'_id': ObjectId('65c36d32486a8729cd64a43b'), 'Name': 'Grapes', 'Address': 'Patna'}
{'_id': ObjectId('65c36d32486a8729cd64a43c'), 'Name': 'Carrot', 'Address': 'Bihar'}
{'_id': ObjectId('65c36d32486a8729cd64a43d'), 'Name': 'Mango', 'Address': 'Bihar'}
{'_id': ObjectId('65c36d32486a8729cd64a43e'), 'Name': 'Guava', 'Address': 'Up'}
{'_id': ObjectId('65c36d32486a8729cd64a43f'), 'Name': 'Pineapple', 'Address': 'Kashmir'}
{'_id': ObjectId('65c36d32486a8729cd64a440'), 'Name': 'Watermelon', 'Address': 'Himachal Pradesh'}
{'_id': ObjectId('65c377d3486a8729cd64a443'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c377de486a8729cd64a444'), 'Mail_Id': 'komalsingh@gmail.com', 'Phone_Number': 685896986, 'Addr': 'HImachal Pradesh'}
{'_id': ObjectId('65c37c3a486a8729cd64a446'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c37c55486a8729cd64a449'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c37c61486a8729cd64a44a'), '__Id': '3', 'companyName': 'pwskills', 'faculty': 'XYZ'}
{'_id': ObjectId('65c37c61486a8729cd64a44b'), '__Id': '4', 'companyName': 'pwskills', 'faculty': 'ABC'}
{'_id': ObjectId('65c37c61486a8729cd64a44c'), '__Id': '5', 'companyName': 'pwskills', 'faculty': 'IUI'}
{'_id': ObjectId('65c37c61486a8729cd64a44d'), '__Id': '6', 'companyName': 'pwskills', 'faculty': 'GJK'}
{'_id': ObjectId('65c4c8511928c84abbbb253a'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c4c8791928c84abbbb253b'), 'Mail_Id': 'komalsingh@gmail.com', 'Phone_Number': 685896986, 'Addr': 'HImachal Pradesh'}
{'_id': ObjectId('65c4c9f11928c84abbbb253c'), 'Name': 'apple', 'Address': 'Himachal Pradesh'}
{'_id': ObjectId('65c4c9f11928c84abbbb253d'), 'Name': 'orange', 'Address': 'Kashmir'}
{'_id': ObjectId('65c4c9f11928c84abbbb253e'), 'Name': 'Banana', 'Address': 'Hajipur'}
{'_id': ObjectId('65c4c9f11928c84abbbb253f'), 'Name': 'Grapes', 'Address': 'Patna'}
{'_id': ObjectId('65c4c9f11928c84abbbb2540'), 'Name': 'Carrot', 'Address': 'Bihar'}
{'_id': ObjectId('65c4c9f11928c84abbbb2541'), 'Name': 'Mango', 'Address': 'Bihar'}
{'_id': ObjectId('65c4c9f11928c84abbbb2542'), 'Name': 'Guava', 'Address': 'Up'}
{'_id': ObjectId('65c4c9f11928c84abbbb2543'), 'Name': 'Pineapple', 'Address': 'Kashmir'}
{'_id': ObjectId('65c4c9f11928c84abbbb2544'), 'Name': 'Watermelon', 'Address': 'Himachal Pradesh'}
{'_id': ObjectId('65c4cab21928c84abbbb2545'), 'Mail_Id': 'komalsingh@gmail.com', 'Phone_Number': 685896986, 'Addr': 'HImachal Pradesh'}

In [14]:
for i in collection.find_one():
    print(i)

_id
name
age
city

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In mongoDB, the find() method is used to fetch a particular data from the table.and it is used to select data in a table. It is also used to return all events to the selected data. The find() method consists of two parameters by which we can find a particular record.

In [5]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://komalshandilya222:komalpwskills22@cluster0.tifpo26.mongodb.net/?retryWrites=true&w=majority"

client = MongoClient(uri)

try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 35.1 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.5.0-py3-none-any.whl (305 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 305.4/305.4 kB 35.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.5.0 pymongo-4.6.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
client = MongoClient(uri)

# Access the desired database
db = client['your_database_name']  # Replace 'your_database_name' with the actual database name

# Access the desired collection within the database
collection = db['your_collection_name']  # Replace 'your_collection_name' with the actual collection name

# Define the data you want to insert
data = {
    "name": "komal kumari",
    "class": "Data science",
    "Time": "flexi"
}

# Insert the data into the collection
try:
    result = collection.insert_one(data)
    print("Data inserted successfully! Inserted ID:", result.inserted_id)
except Exception as e:
    print("An error occurred:", e)

Data inserted successfully! Inserted ID: 65c5f16f1853230bc3130534

In [7]:
for i in collection.find():
    print(i)

{'_id': ObjectId('65c27e1f646f3cbc44844726'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('65c36764486a8729cd64a436'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c36972486a8729cd64a437'), 'Mail_Id': 'komalsingh@gmail.com', 'Phone_Number': 685896986, 'Addr': 'HImachal Pradesh'}
{'_id': ObjectId('65c36d32486a8729cd64a438'), 'Name': 'apple', 'Address': 'Himachal Pradesh'}
{'_id': ObjectId('65c36d32486a8729cd64a439'), 'Name': 'orange', 'Address': 'Kashmir'}
{'_id': ObjectId('65c36d32486a8729cd64a43a'), 'Name': 'Banana', 'Address': 'Hajipur'}
{'_id': ObjectId('65c36d32486a8729cd64a43b'), 'Name': 'Grapes', 'Address': 'Patna'}
{'_id': ObjectId('65c36d32486a8729cd64a43c'), 'Name': 'Carrot', 'Address': 'Bihar'}
{'_id': ObjectId('65c36d32486a8729cd64a43d'), 'Name': 'Mango', 'Address': 'Bihar'}
{'_id': ObjectId('65c36d32486a8729cd64a43e'), 'Name': 'Guava', 'Address': 'Up'}
{'_id': ObjectId('65c36d32486a8729cd64a43f'), 'Name': 'Pineapple', 'Address': 'Kashmir'}
{'_id': ObjectId('65c36d32486a8729cd64a440'), 'Name': 'Watermelon', 'Address': 'Himachal Pradesh'}
{'_id': ObjectId('65c377d3486a8729cd64a443'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c377de486a8729cd64a444'), 'Mail_Id': 'komalsingh@gmail.com', 'Phone_Number': 685896986, 'Addr': 'HImachal Pradesh'}
{'_id': ObjectId('65c37c3a486a8729cd64a446'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c37c55486a8729cd64a449'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c37c61486a8729cd64a44a'), '__Id': '3', 'companyName': 'pwskills', 'faculty': 'XYZ'}
{'_id': ObjectId('65c37c61486a8729cd64a44b'), '__Id': '4', 'companyName': 'pwskills', 'faculty': 'ABC'}
{'_id': ObjectId('65c37c61486a8729cd64a44c'), '__Id': '5', 'companyName': 'pwskills', 'faculty': 'IUI'}
{'_id': ObjectId('65c37c61486a8729cd64a44d'), '__Id': '6', 'companyName': 'pwskills', 'faculty': 'GJK'}
{'_id': ObjectId('65c4c8511928c84abbbb253a'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c4c8791928c84abbbb253b'), 'Mail_Id': 'komalsingh@gmail.com', 'Phone_Number': 685896986, 'Addr': 'HImachal Pradesh'}
{'_id': ObjectId('65c4c9f11928c84abbbb253c'), 'Name': 'apple', 'Address': 'Himachal Pradesh'}
{'_id': ObjectId('65c4c9f11928c84abbbb253d'), 'Name': 'orange', 'Address': 'Kashmir'}
{'_id': ObjectId('65c4c9f11928c84abbbb253e'), 'Name': 'Banana', 'Address': 'Hajipur'}
{'_id': ObjectId('65c4c9f11928c84abbbb253f'), 'Name': 'Grapes', 'Address': 'Patna'}
{'_id': ObjectId('65c4c9f11928c84abbbb2540'), 'Name': 'Carrot', 'Address': 'Bihar'}
{'_id': ObjectId('65c4c9f11928c84abbbb2541'), 'Name': 'Mango', 'Address': 'Bihar'}
{'_id': ObjectId('65c4c9f11928c84abbbb2542'), 'Name': 'Guava', 'Address': 'Up'}
{'_id': ObjectId('65c4c9f11928c84abbbb2543'), 'Name': 'Pineapple', 'Address': 'Kashmir'}
{'_id': ObjectId('65c4c9f11928c84abbbb2544'), 'Name': 'Watermelon', 'Address': 'Himachal Pradesh'}
{'_id': ObjectId('65c4cab21928c84abbbb2545'), 'Mail_Id': 'komalsingh@gmail.com', 'Phone_Number': 685896986, 'Addr': 'HImachal Pradesh'}
{'_id': ObjectId('65c5f16f1853230bc3130534'), 'name': 'komal kumari', 'class': 'Data science', 'Time': 'flexi'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specifying an ascending or descending sort respectively.

In [44]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://komalshandilya222:komalpwskills22@cluster0.tifpo26.mongodb.net/?retryWrites=true&w=majority"

client = MongoClient(uri)

try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [41]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.5.0)
Note: you may need to restart the kernel to use updated packages.

In [45]:
client = MongoClient(uri)

# Access the desired database
db = client['your_database_name']  # Replace 'your_database_name' with the actual database name

# Access the desired collection within the database
collection = db['your_collection_name']  # Replace 'your_collection_name' with the actual collection name

# Define the data you want to insert
data = {
    "name": "komal kumari",
    "class": "Data science",
    "Time": "flexi"
}

In [46]:
data5 = [
    {"Name":"komal", "Age": 18},
    {"Name":"Riddhi", "Age": 20},
    {"Name":"Kajal", "Age": 16},
    {"Name":"sita", "Age":    25},
    {"Name":"Geeta", "Age":  11},
    {"Name":"Gauri", "Age": 22}
]

In [51]:
try:
    result = collection.insert_one(data)
    print("Data inserted successfully! Inserted ID:", result.inserted_id)
except Exception as e:
    print("An error occurred:", e)

Data inserted successfully! Inserted ID: 65c5fa9f1853230bc3130543

In [55]:
cursor = collection.find().sort("Age", 1)

In [56]:
for i in cursor:
    print(i)

{'_id': ObjectId('65c27e1f646f3cbc44844726'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('65c36764486a8729cd64a436'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c36972486a8729cd64a437'), 'Mail_Id': 'komalsingh@gmail.com', 'Phone_Number': 685896986, 'Addr': 'HImachal Pradesh'}
{'_id': ObjectId('65c36d32486a8729cd64a438'), 'Name': 'apple', 'Address': 'Himachal Pradesh'}
{'_id': ObjectId('65c36d32486a8729cd64a439'), 'Name': 'orange', 'Address': 'Kashmir'}
{'_id': ObjectId('65c36d32486a8729cd64a43a'), 'Name': 'Banana', 'Address': 'Hajipur'}
{'_id': ObjectId('65c36d32486a8729cd64a43b'), 'Name': 'Grapes', 'Address': 'Patna'}
{'_id': ObjectId('65c36d32486a8729cd64a43c'), 'Name': 'Carrot', 'Address': 'Bihar'}
{'_id': ObjectId('65c36d32486a8729cd64a43d'), 'Name': 'Mango', 'Address': 'Bihar'}
{'_id': ObjectId('65c36d32486a8729cd64a43e'), 'Name': 'Guava', 'Address': 'Up'}
{'_id': ObjectId('65c36d32486a8729cd64a43f'), 'Name': 'Pineapple', 'Address': 'Kashmir'}
{'_id': ObjectId('65c36d32486a8729cd64a440'), 'Name': 'Watermelon', 'Address': 'Himachal Pradesh'}
{'_id': ObjectId('65c377d3486a8729cd64a443'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c377de486a8729cd64a444'), 'Mail_Id': 'komalsingh@gmail.com', 'Phone_Number': 685896986, 'Addr': 'HImachal Pradesh'}
{'_id': ObjectId('65c37c3a486a8729cd64a446'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c37c55486a8729cd64a449'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c37c61486a8729cd64a44a'), '__Id': '3', 'companyName': 'pwskills', 'faculty': 'XYZ'}
{'_id': ObjectId('65c37c61486a8729cd64a44b'), '__Id': '4', 'companyName': 'pwskills', 'faculty': 'ABC'}
{'_id': ObjectId('65c37c61486a8729cd64a44c'), '__Id': '5', 'companyName': 'pwskills', 'faculty': 'IUI'}
{'_id': ObjectId('65c37c61486a8729cd64a44d'), '__Id': '6', 'companyName': 'pwskills', 'faculty': 'GJK'}
{'_id': ObjectId('65c4c8511928c84abbbb253a'), 'name': 'komal singh', 'class': 'Data Science Master', 'Time': 'flexi'}
{'_id': ObjectId('65c4c8791928c84abbbb253b'), 'Mail_Id': 'komalsingh@gmail.com', 'Phone_Number': 685896986, 'Addr': 'HImachal Pradesh'}
{'_id': ObjectId('65c4c9f11928c84abbbb253c'), 'Name': 'apple', 'Address': 'Himachal Pradesh'}
{'_id': ObjectId('65c4c9f11928c84abbbb253d'), 'Name': 'orange', 'Address': 'Kashmir'}
{'_id': ObjectId('65c4c9f11928c84abbbb253e'), 'Name': 'Banana', 'Address': 'Hajipur'}
{'_id': ObjectId('65c4c9f11928c84abbbb253f'), 'Name': 'Grapes', 'Address': 'Patna'}
{'_id': ObjectId('65c4c9f11928c84abbbb2540'), 'Name': 'Carrot', 'Address': 'Bihar'}
{'_id': ObjectId('65c4c9f11928c84abbbb2541'), 'Name': 'Mango', 'Address': 'Bihar'}
{'_id': ObjectId('65c4c9f11928c84abbbb2542'), 'Name': 'Guava', 'Address': 'Up'}
{'_id': ObjectId('65c4c9f11928c84abbbb2543'), 'Name': 'Pineapple', 'Address': 'Kashmir'}
{'_id': ObjectId('65c4c9f11928c84abbbb2544'), 'Name': 'Watermelon', 'Address': 'Himachal Pradesh'}
{'_id': ObjectId('65c4cab21928c84abbbb2545'), 'Mail_Id': 'komalsingh@gmail.com', 'Phone_Number': 685896986, 'Addr': 'HImachal Pradesh'}
{'_id': ObjectId('65c5f16f1853230bc3130534'), 'name': 'komal kumari', 'class': 'Data science', 'Time': 'flexi'}
{'_id': ObjectId('65c5fa9f1853230bc3130543'), 'name': 'komal kumari', 'class': 'Data science', 'Time': 'flexi'}
{'_id': ObjectId('65c5f5f91853230bc3130539'), 'Name': 'Geeta', 'Age': 11}
{'_id': ObjectId('65c5f69b1853230bc313053f'), 'Name': 'Geeta', 'Age': 11}
{'_id': ObjectId('65c5f5f91853230bc3130537'), 'Name': 'Kajal', 'Age': 16}
{'_id': ObjectId('65c5f69b1853230bc313053d'), 'Name': 'Kajal', 'Age': 16}
{'_id': ObjectId('65c5f5f91853230bc3130535'), 'Name': 'komal', 'Age': 18}
{'_id': ObjectId('65c5f69b1853230bc313053b'), 'Name': 'komal', 'Age': 18}
{'_id': ObjectId('65c5f5f91853230bc3130536'), 'Name': 'Riddhi', 'Age': 20}
{'_id': ObjectId('65c5f69b1853230bc313053c'), 'Name': 'Riddhi', 'Age': 20}
{'_id': ObjectId('65c5f5f91853230bc313053a'), 'Name': 'Gauri', 'Age': 22}
{'_id': ObjectId('65c5f69b1853230bc3130540'), 'Name': 'Gauri', 'Age': 22}
{'_id': ObjectId('65c5f5f91853230bc3130538'), 'Name': 'sita', 'Age': 25}
{'_id': ObjectId('65c5f69b1853230bc313053e'), 'Name': 'sita', 'Age': 25}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

The delete_one(), delete_many(), and drop() functions are used in Python to delete documents from a MongoDB collection.

The delete_one() function deletes a single document from a collection

The delete_many() function deletes multiple documents from a collection.

The drop() function deletes all documents from a collection.

In [ ]:
my_collection.delete_one({"name": "komal k"})