Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd

s = pd.Series([4,8,15,16,23,42], index=['a','b','c','d','e','f'])

print(s)

a     4
b     8
c    15
d    16
e    23
f    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
import pandas as pd

s1 = pd.Series([10,20,30,40,50,60,70,80,90,100])

print(s1)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data: Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame.

In [10]:
import pandas as pd

data_frame = pd.DataFrame({'Name':['Alice' , 'Bob', 'Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']})

print(data_frame)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

ANS-In Pandas, a DataFrame is a two-dimensional data structure with labeled axes. It can be thought of as a dict-like container for Series objects. The rows of a DataFrame are labeled by a unique index, and the columns are labeled by strings. Each column of a DataFrame is a Series object.

The differences between DataFrame and Series is that a DataFrame can have multiple columns, while a Series can only have one. This means that a DataFrame can store more complex and heterogeneous data, while a Series can store more simple and homogeneous data.

Examples of DataFrame :-

In [11]:
import pandas as pd

df = pd.DataFrame({"A":[1,2,3,4] , "B":[5,6,7,8]})


print(df)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

Example of Pandas series:-

In [12]:
import pandas as pd

df1 = pd.Series([2,4,6], index = ['a','b','c'])

print(df1)

a    2
b    4
c    6
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

1.head() and tail(): These functions allow you to view the first or last few rows of your DataFrame, respectively. They are useful for quickly inspecting your data

2.info(): Provides a concise summary of the DataFrame, including the data types of each column and the number of non-null values.

3.describe(): Generates descriptive statistics for numerical columns in the DataFrame, such as count, mean, standard deviation, min, max, etc.

4.shape: Returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns).

5.loc[] and iloc[]: These are used for label-based and integer-based indexing, respectively.

6.loc[] and iloc[]: These are used for label-based and integer-based indexing, respectively.

7.merge(): Combines two DataFrames based on a common column.

8.read_csv(): Loads data from a CSV file into a DataFrame.

In [1]:
import pandas as pd


data = {
    'Employee_ID': [1, 2, 3, 4, 5],
    'Salary': [50000, 60000, 70000, 55000, 62000],
    'Productivity': [8, 7, 9, 6, 8]
}

# Creating DataFrame
df = pd.DataFrame(data)

description = df.describe()

print(description)

       Employee_ID        Salary  Productivity
count     5.000000      5.000000      5.000000
mean      3.000000  59400.000000      7.600000
std       1.581139   7536.577473      1.140175
min       1.000000  50000.000000      6.000000
25%       2.000000  55000.000000      7.000000
50%       3.000000  60000.000000      8.000000
75%       4.000000  62000.000000      8.000000
max       5.000000  70000.000000      9.000000

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

ANS-In Pandas, both Series and DataFrame are mutable, meaning you can modify their values after creation. However, the Panel object, which used to be part of Pandas for handling three-dimensional data, has been deprecated and removed from the library. Therefore, between the options provided, only Series and DataFrame are relevant, and both are mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [3]:
import pandas as pd

# Create multiple Series
student_names = (['amnan','amrit','krish','rohan','mohan'])
ages = pd.Series([11, 21, 13, 14, 12])
student_classes = pd.Series([6, 7, 8, 9, 10])

df3 = pd.DataFrame({'student_name': student_names, 'age': ages , 'student_class':student_classes})


print(df3)

  student_name  age  student_class
0        amnan   11              6
1        amrit   21              7
2        krish   13              8
3        rohan   14              9
4        mohan   12             10