#Qno1-Write a program to accept percentage from the user and display the grade according to the following criteria:

In [3]:
marks = int(input("enter your marks")) 
if marks > 90:
    print("grade A")
elif marks > 80 and marks <= 90:
     print("grade B") 
elif marks >= 60 and marks <=80:
     print("grade C")
else:
     print("grade D")

enter your marks 90

grade B

#Qno2-Write a program to accept the cost price of a bike and display the road tax to be paid according to the
following creteria:

In [4]:
cost_price = int(input("enter cost price"))
road_tax = 0

if cost_price > 100000:
    road_tax=cost_price*0.15
    
elif  cost_price >500000 and cost_price <= 100000:
    road_tax=cost_price*0,10
else:
    road_tax=cost_price*.05
print("Road tax to be paid:",road_tax)

enter cost price 40000

Road tax to be paid: 2000.0

#Qno3-Aceept any city from the user and display monuments of that city.

In [30]:
city = input("enter city name")
if city == "Delhi":
    print("Red Fort")
elif city == "Agra":
    print("Taj Mahal")
elif city =="Jaipur":
    print("Jai Mahal")
else:
    print("enter city")

enter city name Agra

Taj Mahal

#Qno4-Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [2]:
num = 270
count = 0 
while num>=10:
    num=num / 3
    count = count + 1
    print("number is divided by 3",count)

number is divided by 3 1
number is divided by 3 2
number is divided by 3 3
number is divided by 3 4

#Qno5-Why and when to use while loop in python give a detailed description with example?

In [23]:
#while loop is used to repeat a specific block of code unknown number of times until a condition is met.


i = 1 
n = 5
while i <=n:
    print(i)
    i = i +1

1
2
3
4
5

#Qno6-Use nested while loop to print 3 different pattern.

In [3]:
i = 1

while i <=5:
    j = 1
    while j<= i:
        print("*",end=" ")
        j +=1
    print()
    i +=1

*
* *
* * *
* * * *
* * * * *

In [1]:
i = 1
while i <= 5:
    j = 5
    while j >=i:
        print("*",end =" ")
        j-=1
    print()
    i+=1

* * * * *
* * * *
* * *
* *
*

In [2]:
i = 1 
while i <= 5:
    print(" "*(5-1) + "*" * i)
    i +=1

    *
    **
    ***
    ****
    *****

#Qno7-Reverse a while loop to display numbers from 10 to 1.

In [1]:
number = 10

while number >=1:
    print(number)
    number -= 1

10
9
8
7
6
5
4
3
2
1

#Qno8-Reverse a while loop to display numbers from 10 to 1.

In [3]:
number = 10

while number >=1:
    print(number)
    number -= 1

10
9
8
7
6
5
4
3
2
1